@using System.Security.Claims
@if (User.Identity!.IsAuthenticated)
{
	<ul class="navbar-nav me-0">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity.Name
			</a>
			<ul class="dropdown-menu">
				<li>
					<a class="dropdown-item" asp-controller="Member"
					   asp-action="Index">Profil</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Member"
					   asp-action="PasswordChange">Sifre Degistir</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Member"
					   asp-action="UserEdit">Kullanici Guncelle</a>
				</li>
				<li>
					<a class="dropdown-item" asp-controller="Member"
					   asp-action="Claims">Claims</a>
				</li>
				@if (User.HasClaim(x => x.Type==ClaimTypes.Role && x.Value == "Admin"))
				{
					<li>
						<a class="dropdown-item" asp-area="Admin" asp-controller="Home"
						   asp-action="Index">Admin</a>
					</li>
				}
				<li>
					<a class="dropdown-item" asp-controller="Member"
					   asp-action="Logout" asp-route-returnurl="/Home/Index">Cikis Yap</a>
				</li>

			</ul>
	</ul>
}
else
{
	<a class="btn btn-outline-success mx-2" asp-controller="Home" asp-action="SignIn">Uye Giris</a>
	<a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Uye Kayit</a>
}
