@if (User.Identity!.IsAuthenticated)
{
	<ul class="navbar-nav me-0">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity.Name
			</a>
			<ul class="dropdown-menu">
				<li><a class="dropdown-item" asp-controller="Member"
				asp-action="Logout" asp-route-returnurl="/Home/Index">Cikis Yap</a></li>

			</ul>
	</ul>
}
else
{
	<a class="btn btn-outline-success mx-2" asp-controller="Home" asp-action="SignIn">Uye Giris</a>
	<a class="btn btn-outline-success" asp-controller="Home" asp-action="SignUp">Uye Kayit</a>
}
